services:
  web:
    build: .
    ports:
      - "8000:8000"
    command: python manage.py runserver
    volumes:
      - .:/code
    depends_on:
      db:
        condition: service_healthy
    restart: always
    networks:
      - webnet

  db:
    image: postgres:15
    volumes:
      - ../datosdbardjtnt:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ardjtenant
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mamikuma2010
    ports:
      - "25432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - webnet
networks:
  webnet: